<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>page d'acceuil</title>
    
</head>
<header>
     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Béjaia-tours</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse aa" id="navbarCollapse" >
              <ul class="navbar-nav me-auto mb-2 mb-md-0" style="display:flex;justify-content:space-between;">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="">Acceuil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">FAQ</a>
                </li>     
              </ul>
            </div>
          </div>
        </nav>
</header>
<body onload="initClock()">
     <div class="container"> 
                    <div class="service">
                              <h1>Nos services</h1>  
                    </div>

          <div class="row">
               <div class="col-md-3 text-center">
                    <div class="icon">
                         <img src="images/1.svg">                   
                    </div>
                     <h3><a>Lieux touristiques</a></h3>
                    <p>Découvrez la localisation des lieux touristiques de Béjaia.</p>
               </div>
               <div class="col-md-3 text-center">
                    <div class="icon">
                         <img src="images/2.svg">                   
                    </div>
                    <h3>Location des voitures</h3>
                    <p>Trouver une voiture facilement.</p>
               </div>
               <div class="col-md-3 text-center">
                    <div class="icon">
                         <img src="images/3.svg">    
                    </div>
                    <h3><a href="https://anisketam.github.io/site-hebergement/Acceuil.html">Hébergement et hotels</a></h3>
                    <p>Découvrez les meilleurs hotels de Béjaia.</p>
               </div>
               <div class="col-md-3">
                    <div class="datetime">
                         <div class="date">
                           <span id="dayname">Jour</span>,
                           <span id="month">Moi</span>
                           <span id="daynum">00</span>,
                           <span id="year">Année</span>
                         </div>
                         <div class="time">
                           <span id="hour">00</span>:
                           <span id="minutes">00</span>:
                           <span id="seconds">00</span>
                           <span id="period">AM</span>
                         </div>
                       </div>
                       <!--digital clock end-->
               </div>
          </div>          
     </div>       
     <script type="text/javascript">
          function updateClock(){
            var now = new Date();
            var dname = now.getDay(),
                mo = now.getMonth(),
                dnum = now.getDate(),
                yr = now.getFullYear(),
                hou = now.getHours(),
                min = now.getMinutes(),
                sec = now.getSeconds(),
                pe = "AM";
      
                if(hou >= 12){
                  pe = "PM";
                }
                if(hou == 0){
                  hou = 12;
                }
                if(hou > 12){
                  hou = hou - 12;
                }
      
                Number.prototype.pad = function(digits){
                  for(var n = this.toString(); n.length < digits; n = 0 + n);
                  return n;
                }
      
                var months = ["Janvier", "Février", "Mars", "Avril", "May", "Juin", "Julliet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"];
                var week = ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"];
                var ids = ["dayname", "month", "daynum", "year", "hour", "minutes", "seconds", "period"];
                var values = [week[dname], months[mo], dnum.pad(2), yr, hou.pad(2), min.pad(2), sec.pad(2), pe];
                for(var i = 0; i < ids.length; i++)
                document.getElementById(ids[i]).firstChild.nodeValue = values[i];
          }
      
          function initClock(){
            updateClock();
            window.setInterval("updateClock()", 1);
          }
          </script>
</body>
<footer class="container text-center">
     <p>© 2021 Béjaia-tours, Inc. Tous droits réservés</p>
</footer>      

</html>
